<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      p {
        font-size: 2em;
      }
      </style>
</head>
<body>
    <p>Thanks, <%= @user_mail %></p>
    <p>Your company has been register..</p>
  </div>
</body>
</html>