<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h4 {
        font-size: 2em;
      }
      </style>
</head>
<body>
    <h4>User, <%= @user_name %> Contact with you.</h4>
    <div class="contact-form">
    	<p>Here is his/her information for a contact..</p>
    	<p>Email Id:- <%= @user_email %></p>
    	<p>Subject:- <%= @user_subject %></p>
    	<p>Message:- <%= @user_message %></p>
    </div>
  </div>
</body>
</html>