body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


.tab-content {
    margin-top: 30px;
}

.compI_next{
  float:right;
  margin-right: -15px;
}

.com_submit{
  margin-top: 15px;
}

em.emclass {
    padding-left: 15px;
}

.col-md-12.regsubmit {
    margin-top: 15px;
}

input.btn.btn-primary.regsubmitpera {
    float: right;
    margin-right: -15px;
}

.col-md-12.log-in-link {
    margin-top: 15px;
}

a.btn.btn-primary.log-in-linkpera {
    float: right;
    margin-right: -30px;
    color: white;
}

label.peracheckbox {
    margin-left: 190px;
    color: black;
}

input.btn.btn-primary.logbtnpera {
    margin-left: 173px;
}

a.sign-up-pera:hover {
  background-color: white;
}

a.sign-up-pera {
    font-weight: 800;
    color: black;
    margin-left: 199px;
    font-size: 15px;
}

a.forgot-pera-link:hover {
    background-color: white;
}

a.forgot-pera-link {
    margin-left: 199px;
    color: black;
    font-size: 15px;
    font-weight: 800;
}

.col-md-12.nest-subbtn {
    margin-top: 15px;
}

input.btn.btn-primary.nest-sub-pera {
    float: right;
    margin-right: -15px;
}

.field_with_errors {
    width: 33.33333333%;
    float: left;
    text-align: right;
}

.field_with_errors label {
    width: 100%;
}

.field_with_errors+.col-md-8 {
    float: right;
}

.field_with_errors+.col-md-8 .field_with_errors {
    width: 100%;
}

label.col-md-4.control-label.required:after {
    content: "*";
    color: red;
    font-size: 20px;
}